[nz-form] {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 5rem;

}

button {
  margin-left: 8px;
}

.form-component{
  height: 100%;

  background-image: url("../../assets/images/create.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
